/* card default style  */
.cards{
    background-color: rgb(226, 224, 224);
    color: black;
    line-height: normal;
    border-radius: 10px;
    border: 3px solid black;
}
/* mouse on card style  */
.cards:hover{
    border: 3px solid #fd76009a;
    background-color: rgba(250, 245, 238, 0.979);
}
/* apply some style on every card image  */
.cards img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-top: 5px;
    border-radius: 50%;
    border: 2px solid #fd76009a;
}
/* some style for Dept. and faculty section  */
.detailsTxt{
    margin:8px;
    border: 1px solid gray;
    border-radius: 20px;
    padding-left: 100px;
    padding-right: 5px;
}
/* apply the style on persons designation  */
.designation{
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fd76009a;
}
.df{
    padding: 5px;
    margin: 0px;
    border-radius: 20px;
}
/* style for send money button on UI  */
.calc{
    font-size: medium;
    font-weight: 600;
    height: 50px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid #fd7600;
    background-color: #f3b27a69;
}
/* style for send money button on UI When anyone hover */
.calc:hover{
    background-color: #fd7600;
}
/* style for colorize specific text  */
.txt-color{
    color: #fd7600;
    font-weight: 700;
}
/*remove the link default style*/
.text-dec{
    text-decoration: none;
}