/* set background color in header and add some style */
.headerBack{
    background-color: rgba(78, 74, 74, 0.76);
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -40px;
    border-radius: 15px;
    font-size: larger;
    border: 2px solid orange;
    margin-bottom: 20px;
}

.million{
    color: #F69F4E;
}