/* Devided the entire screen 3:1 ratio  */
.bodyContainer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: lightgrey;
}

/* add a vertical line between two part  */
.totalSum{
    border-left: 1px double orange;
    margin-left: 10px;
}